@import "tailwindcss";

:root {
    --bg-main: url('./../assets/images/main-bg.png')
}
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0
}
#home {
    background-image: var(--bg-main);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.search {
    scroll-behavior: smooth;
    overflow-y: scroll;

}
.search::-webkit-scrollbar {
    width: 10px;
}
.search::-webkit-scrollbar-track {
    background: #e5e7eb;
    margin: 1rem;
}
.search::-webkit-scrollbar-thumb {
    background-color: #fb923c;
    border-radius: 10px;
}
.search::-webkit-scrollbar-thumb:hover {
    background-color: #ffac68;
}

@theme {
    --bg-palet-1: #f3ebeb;
    --bg-card: radial-gradient(ellipse at bottom, #fb923c, #fff7ed);
}
